@model Item
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Item</h2>
        </div>
    
        <div class="mb-2">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input asp-for="Owner"  class="form-control" type="hidden" value="@UserManager.GetUserName(User)"/> 
     
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        
    </div>
</form>