@model Item
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Item</h2>
        </div>
    
        <div class="mb-2">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input asp-for="Owner"  class="form-control" type="hidden" value="@UserManager.GetUserName(User)"/> 
       @* <div class="mb-2">
            <label asp-for="CollectionId"></label>
            <input asp-for="CollectionId" class="form-control" placeholder="1" value=2/>
            <span asp-validation-for="CollectionId" class="text-danger"></span>
        </div>
        *@

        
        @* <div class="mb-2">
            <label asp-for="Collection"></label>
            <input asp-for="Collection" class="form-control" /> 
            <span asp-validation-for="Collection" class="text-danger"></span>
        </div>*@
        
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Item" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back to list</a>
    </div>
</form>