@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <h1>By creating you agree with our agreement and policy </h1>
    <div class="m-lg-auto ms-lg-5"> <a id="confirm-link" href="@Model.EmailConfirmationUrl" ><h2>Accept</h2></a>
        </div>
</p>
    }
   
}

